.border {
    outline-style: solid;
    outline-color: white;
    outline-width: 3px;

    min-height: 30em;
    min-width: 30em;

    padding: 0.02em 2em;

}

.border.long {
    min-height: 61.6em
}

.heading {
    text-align: left;
}