.border {
  outline-style: solid;
  outline-color: white;
  outline-width: 3px;

  min-height: 30em;
  min-width: 50%;

  padding: 0.02em 2em;

  display: flex;
  flex-direction: column;
}

.border.long {
  min-height: 61.6em;
}

.heading {
  text-align: left;
  font-family: "Microgramma D Extended";
}
